<a name="Speakers"></a>

	<div class="turquoisegrad bluetext">
		<h1> Speakers </h1>
		<h2 class="dspeaker"> Meet the experts. </h2>
	</div>

<!-- Grid -->
    <div class="grid"> 

    <%speakers.each do |speaker|%>
<!-- Front of box !--> 
        <div class="flip-box">
            <div class="flip-box-inner">
                <img src="<%=speaker.avatar%>" alt="<%=speaker.name%>">
            </div>
<!-- Back of box !--> 
            <div class="flip-box-back">
                <div class="turquoise-background">
                    <h4>"<%=speaker.name%>"</h4>
                    <h5>"<%=speaker.company%>"</h5>
                </div>
                    <p class="bluetext"><%=speaker.bio%></p>
            </div>
        </div>
    </div>	
    <div class="button_container">
    <a href="/remove_speaker/:id" method="DELETE" class="button">Remove Speaker</a>
</div>
    <%end%>

   
