<div class="index">
    <header>
        <h1> Our Speakers </h1>
    </header>

    <div class="grid">
    <%speakers.each do |speaker|%>
            <div class="flip-box">
                <div class="flip-box-inner">

                    <div class="flip-box-front">
                        <img class="speaker-image" src="<%=speaker.avatar%>" alt="<%=speaker.name%>">
                    </div>

                    <div class="flip-box-back">
                        <div class="titles">
                            <h2><%=speaker.name%></h2>
                            <h3><%=speaker.company%></h2>
                        </div>
                        <p><%=speaker.bio%></p>
                        <a class ="speaker" href="/remove_speaker/<%=speaker.id%>" method="GET" class="button">Remove Speaker</a>
                    </div>    
                </div>          
            </div>
            <%end%>
        </div>
</div>

<a class="button" href="/">Home</a>
<a class="button" href='/add_speaker'>Add Speaker</a>
    
